<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个特定的DAO/Mappr接口-->
<mapper namespace="com.henjie.dao.UserMapper">

<!--    结果集映射，id为ResultMap的新类型名，type为引用的实体类名-->
    <resultMap id="UserMap" type="User">
<!--        column为数据库字段名，property为实体类的属性名，表示字段名映射的属性名-->
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="pwd" property="password"/>
    </resultMap>

<!--    根据Id查询-->
    <select id="getUserById" resultMap="UserMap" parameterType="int">
        select * from mybatis.user where id = #{id};
    </select>

</mapper>